{
  "openapi": "3.0.1",
  "info": {
    "title": "CDE-PRD-API-Gateway",
    "description": "API used for requests",
    "version": "2022-10-13T17:58:35Z"
  },
  "servers": [
    {
      "url": "https://api.usa.gov/crime/fbi/cde/{basePath}",
      "variables": {
        "basePath": {
          "default": "/LATEST"
        }
      }
    }
  ],
  "components": {
    "schemas": {
      "Empty": {
        "title": "Empty Schema",
        "type": "object"
      },
      "states": {
        "type": "string",
        "enum": [
          "AK",
          "AL",
          "AR",
          "AZ",
          "CA",
          "CO",
          "CT",
          "DC",
          "DE",
          "FL",
          "FS",
          "GA",
          "GM",
          "HI",
          "IA",
          "ID",
          "IL",
          "IN",
          "KS",
          "KY",
          "LA",
          "MA",
          "MD",
          "ME",
          "MI",
          "MN",
          "MO",
          "MS",
          "MT",
          "NE",
          "NC",
          "ND",
          "NH",
          "NJ",
          "NM",
          "NV",
          "NY",
          "OH",
          "OK",
          "OR",
          "PA",
          "RI",
          "SC",
          "SD",
          "TN",
          "TX",
          "UT",
          "VA",
          "VI",
          "VT",
          "WA",
          "WI",
          "WV",
          "WY"
        ]
      },
      "nibrs_estimations_offenses": {
        "type": "string",
        "enum": [
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8,
          9,
          10,
          11,
          12,
          13,
          14,
          15,
          16,
          17,
          18,
          19,
          20,
          21,
          22,
          23,
          24,
          25,
          26,
          27,
          28,
          29,
          30,
          31,
          32,
          33,
          34,
          35,
          36,
          37,
          38,
          39,
          40,
          41,
          42,
          43,
          44,
          45,
          46,
          47,
          48,
          49,
          50,
          51,
          52,
          53,
          54,
          55,
          56,
          57,
          58,
          59,
          60,
          61,
          62,
          63,
          64,
          65,
          66,
          67,
          68,
          69,
          70,
          71,
          72,
          73,
          74,
          75,
          76,
          77,
          78,
          79,
          80,
          81,
          82,
          83,
          84,
          85,
          86,
          87,
          88,
          89,
          90,
          91,
          91,
          93,
          94,
          95,
          96,
          97,
          98,
          99,
          100,
          101,
          102,
          103,
          104,
          105,
          106,
          107,
          108,
          109,
          110,
          111,
          112,
          113,
          114,
          115,
          116,
          117,
          118,
          119,
          120,
          121,
          122,
          123,
          124,
          125,
          126,
          127,
          128,
          129,
          130,
          131,
          132,
          133,
          134,
          135,
          136,
          137,
          138,
          139,
          140,
          141,
          142,
          143,
          144,
          145,
          146,
          147,
          148,
          149,
          150
        ],
        "x-enum-varnames": [
          "35A - Cocaine/Crack Cocaine (A,B) - B (Buying/Receiving)",
          "35A - Cocaine/Crack Cocaine (A,B) - C (Cultivating/Manufacturing/Publishing)",
          "35A - Cocaine/Crack Cocaine (A,B) - D (Distributing/Selling)",
          "35A - Cocaine/Crack Cocaine (A,B) - P (Possessing/Concealing)",
          "35A - Cocaine/Crack Cocaine (A,B) - T (Transporting/transmitting/importing)",
          "35A - Cocaine/Crack Cocaine (A,B) - U (Using/consuming)",
          "35A - Depressant (N,O) - B (Buying/Receiving)",
          "35A - Depressant (N,O) - C (Cultivating/Manufacturing/Publishing)",
          "35A - Depressant (N,O) - D (Distributing/Selling)",
          "35A - Depressant (N,O) - P (Possessing/Concealing)",
          "35A - Depressant (N,O) - T (Transporting/transmitting/importing)",
          "35A - Depressant (N,O) - U (Using/consuming)",
          "35A - Hallucinogen (I,J,K) - B (Buying/Receiving)",
          "35A - Hallucinogen (I,J,K) - C (Cultivating/Manufacturing/Publishing)",
          "35A - Hallucinogen (I,J,K) - D (Distributing/Selling)",
          "35A - Hallucinogen (I,J,K) - P (Possessing/Concealing)",
          "35A - Hallucinogen (I,J,K) - T (Transporting/transmitting/importing)",
          "35A - Hallucinogen (I,J,K) - U (Using/consuming)",
          "35A - Marijuana/Hashish (C,E) - B (Buying/Receiving)",
          "35A - Marijuana/Hashish (C,E) - C (Cultivating/Manufacturing/Publishing)",
          "35A - Marijuana/Hashish (C,E) - D (Distributing/Selling)",
          "35A - Marijuana/Hashish (C,E) - P (Possessing/Concealing)",
          "35A - Marijuana/Hashish (C,E) - T (Transporting/transmitting/importing)",
          "35A - Marijuana/Hashish (C,E) - U (Using/consuming)",
          "35A - More Than 3 Types (X) - B (Buying/Receiving)",
          "35A - More Than 3 Types (X) - C (Cultivating/Manufacturing/Publishing)",
          "35A - More Than 3 Types (X) - D (Distributing/Selling)",
          "35A - More Than 3 Types (X) - P (Possessing/Concealing)",
          "35A - More Than 3 Types (X) - T (Transporting/transmitting/importing)",
          "35A - More Than 3 Types (X) - U (Using/consuming)",
          "35A - Opiate/Narcotic (D,F,G,H) - B (Buying/Receiving)",
          "35A - Opiate/Narcotic (D,F,G,H) - C (Cultivating/Manufacturing/Publishing)",
          "35A - Opiate/Narcotic (D,F,G,H) - D (Distributing/Selling)",
          "35A - Opiate/Narcotic (D,F,G,H) - P (Possessing/Concealing)",
          "35A - Opiate/Narcotic (D,F,G,H) - T (Transporting/transmitting/importing)",
          "35A - Opiate/Narcotic (D,F,G,H) - U (Using/consuming)",
          "35A - Other Drug Type (P) - B (Buying/Receiving)",
          "35A - Other Drug Type (P) - C (Cultivating/Manufacturing/Publishing)",
          "35A - Other Drug Type (P) - D (Distributing/Selling)",
          "35A - Other Drug Type (P) - P (Possessing/Concealing)",
          "35A - Other Drug Type (P) - T (Transporting/transmitting/importing)",
          "35A - Other Drug Type (P) - U (Using/consuming)",
          "35A - Stimulant (L,M) - B (Buying/Receiving)",
          "35A - Stimulant (L,M) - C (Cultivating/Manufacturing/Publishing)",
          "35A - Stimulant (L,M) - D (Distributing/Selling)",
          "35A - Stimulant (L,M) - P (Possessing/Concealing)",
          "35A - Stimulant (L,M) - T (Transporting/transmitting/importing)",
          "35A - Stimulant (L,M) - U (Using/consuming)",
          "35A - Unknown Drug Type (U) - B (Buying/Receiving)",
          "35A - Unknown Drug Type (U) - C (Cultivating/Manufacturing/Publishing)",
          "35A - Unknown Drug Type (U) - D (Distributing/Selling)",
          "35A - Unknown Drug Type (U) - P (Possessing/Concealing)",
          "35A - Unknown Drug Type (U) - T (Transporting/transmitting/importing)",
          "35A - Unknown Drug Type (U) - U (Using/consuming)",
          "Aggravated Assault",
          "All Other Offenses",
          "Animal Cruelty",
          "Arson",
          "ASSAULT OFFENSES",
          "Bribery",
          "Burglary/B&E",
          "Car Jacking",
          "Completed Drug/Narcotic Violation",
          "Completed Drug-Related Offense",
          "Corruption",
          "Counterfeiting/Forgery",
          "Curfew/Loitering/Vagrancy Violations",
          "Destruction/Damage/Vandalism",
          "Disorderly Conduct",
          "Driving Under the Influence",
          "Drug/Narcotic Offenses",
          "Drug possession for personal consumption",
          "Drug Possession or Trafficking",
          "Drug trafficking not for personal consumption",
          "Embezzlement",
          "Espionage",
          "Explosives Violation",
          "Export Violations",
          "Extortion/Blackmail",
          "Failure to Appear",
          "Failure to Register as a Sex Offender",
          "False Citizenship",
          "Family Offenses, Nonviolent",
          "Fatal Gun Violence",
          "Federal Liquor Offenses",
          "Federal Resource Violations",
          "Federal Tobacco Offenses",
          "Flight to Avoid Deportation",
          "Flight to Avoid Prosecution",
          "Fondling",
          "Fraud Offenses",
          "Gambling Offenses",
          "Hacking/Computer Invasion",
          "Harboring Escapee/Concealing from Arrest",
          "Human Trafficking-Labor",
          "Human Trafficking-Sex",
          "Human Trafficking- Sex and Human Trafficking-Labor",
          "Illegal Entry into the United States",
          "Import Violations",
          "Intimidation",
          "Kidnapping/Abduction",
          "Larceny/Theft Offenses",
          "Liquor Law Violations",
          "Money Laundering",
          "Motor Vehicle Theft",
          "Murder and Non-negligent Manslaughter",
          "Negligent Manslaughter",
          "NIBRS crimes against persons (Total)",
          "NIBRS crimes against property (Total)",
          "NIBRS crimes against society (Total)",
          "Nonfatal Gun Violence",
          "Nonfatal Gun Violence 2",
          "Other Acts of Corruption",
          "Perjury",
          "Pornography/Obscene Material",
          "Property Crime",
          "Prostitution Offenses",
          "Rape",
          "Re-entry after Deportation",
          "Revised Rape",
          "Robbery",
          "Sex Offenses, Nonforcible",
          "Sexual Assault with an Object",
          "Simple Assault",
          "Smuggling Aliens",
          "Sodomy",
          "Stolen Property Offenses",
          "Total Arrests",
          "Total Gun Violence",
          "Treason",
          "Trespass of Real Property",
          "Violation of National Firearm Act of 1934",
          "Violent Crime",
          "Weapon Law Violations",
          "Weapons of Mass Destruction",
          "Wildlife Trafficking"
        ]
      },
      "nibrs_offenses": {
        "type": "string",
        "enum": [
          "13A",
          "23H",
          "200",
          "720",
          "40B",
          "39A",
          "510",
          "220",
          "250",
          "26B",
          "11D",
          "290",
          "35B",
          "35A",
          "270",
          "103",
          "526",
          "58B",
          "210",
          "360",
          "30B",
          "26A",
          "61A",
          "61B",
          "49C",
          "49B",
          "39C",
          "26G",
          "49A",
          "64A",
          "64B",
          "26F",
          "30A",
          "26C",
          "58A",
          "36A",
          "13C",
          "09C",
          "100",
          "26H",
          "240",
          "09A",
          "09B",
          "23*",
          "39B",
          "23A",
          "370",
          "40A",
          "40C",
          "23B",
          "11A",
          "30D",
          "120",
          "11C",
          "23C",
          "13B",
          "30C",
          "11B",
          "39D",
          "36B",
          "280",
          "23D",
          "23E",
          "23F",
          "23G",
          "101",
          "521",
          "520",
          "522",
          "26D",
          "620",
          "26E"
        ],
        "x-enum-varnames": [
          "Aggravated Assault",
          "All Other Larceny",
          "Arson",
          "Animal Cruelty",
          "Assisting or Promoting Prostitution",
          "Betting/Wagering",
          "Bribery",
          "Burglary/Breaking & Entering",
          "Counterfeiting/Forgery",
          "Credit Card/Automated Teller Machine Fraud",
          "Criminal Sexual Contact",
          "Destruction/Damage/Vandalism of Property",
          "Drug Equipment Violations",
          "Drug/Narcotic Violations",
          "Embezzlement",
          "Espionage",
          "Explosives Violation",
          "Export Violations",
          "Extortion/Blackmail",
          "Failure to Register as a Sex Offender",
          "False Citizenship",
          "False Pretenses/Swindle/Confidence Game",
          "Federal Liquor Offenses",
          "Federal Tobacco Offenses",
          "Flight to Avoid Deportation",
          "Flight to Avoid Prosecution",
          "Gambling Equipment Violation",
          "Hacking/Computer Invasion",
          "Harboring Escapee/Concealing from Arrest",
          "Human Trafficking, Commercial Sex Acts",
          "Human Trafficking, Involuntary Servitude",
          "Identity Theft",
          "Illegal Entry into the United States",
          "Impersonation",
          "Import Violations",
          "Incest",
          "Intimidation",
          "Justifiable Homicide",
          "Kidnapping/Abduction",
          "Money Laundering",
          "Motor Vehicle Theft",
          "Murder and Nonnegligent Manslaughter",
          "Negligent Manslaughter",
          "Not Specified",
          "Operating/Promoting/Assisting Gambling",
          "Pocket-picking",
          "Pornography/Obscene Material",
          "Prostitution",
          "Purchasing Prostitution",
          "Purse-snatching",
          "Rape",
          "Re-entry after Deportation",
          "Robbery",
          "Sexual Assault With An Object",
          "Shoplifting",
          "Simple Assault",
          "Smuggling Aliens",
          "Sodomy",
          "Sports Tampering",
          "Statutory Rape",
          "Stolen Property Offenses",
          "Theft From Building",
          "Theft From Coin-Operated Machine or Device",
          "Theft From Motor Vehicle",
          "Theft of Motor Vehicle Parts or Accessories",
          "Treason",
          "Violation of National Firearm Act of 1934",
          "Weapon Law Violations",
          "Weapons of Mass Destruction",
          "Welfare Fraud",
          "Wildlife Trafficking",
          "Wire Fraud"
        ]
      },
      "arrest_offense_category": {
        "type": "string",
        "enum": [
          "male",
          "female",
          "race",
          "sex"
        ]
      },
      "arrest_offense": {
        "type": "string",
        "enum": [
          "all",
          "310",
          "110",
          "50",
          "60",
          "101",
          "330",
          "290",
          "260",
          "150",
          "158",
          "157",
          "160",
          "159",
          "156",
          "153",
          "152",
          "155",
          "154",
          "151",
          "280",
          "200",
          "180",
          "190",
          "173",
          "171",
          "172",
          "170",
          "102",
          "70",
          "270",
          "12",
          "90",
          "11",
          "250",
          "140",
          "142",
          "141",
          "143",
          "23",
          "20",
          "30",
          "240",
          "55",
          "210",
          "300",
          "220",
          "230"
        ],
        "x-enum-varnames": [
          "all",
          "All Other Offenses (Except Traffic)",
          "Arson",
          "Assault - Not Specified",
          "Burglary",
          "Commercial Sex Acts",
          "Curfew and Loitering Law Violations",
          "Disorderly Conduct",
          "Driving Under the Influence",
          "Drug Abuse Violations",
          "Drug Possession - Marijuana",
          "Drug Possession - Opium or Cocaine or Their Derivatives",
          "Drug Possession - Other - Dangerous Nonnarcotic Drugs",
          "Drug Possession - Synthetic Narcotics",
          "Drug Possession (Unspecified)",
          "Drug Sale/Manufacturing - Marijuana",
          "Drug Sale/Manufacturing - Opium or Cocaine or Their Derivatives",
          "Drug Sale/Manufacturing - Other - Dangerous Nonnarcotic Drugs",
          "Drug Sale/Manufacturing - Synthetic Narcotics",
          "Drug Sale/Manufacturing (Unspecified)",
          "Drunkenness",
          "Embezzlement",
          "Forgery and Counterfeiting",
          "Fraud",
          "Gambling - All Other Gambling",
          "Gambling - Bookmaking (Horse and Sport Book)",
          "Gambling - Numbers and Lottery",
          "Gambling (Unspecified)",
          "Involuntary Servitude",
          "Larceny - Theft",
          "Liquor Law Violations",
          "Manslaughter by Negligence",
          "Motor Vehicle Theft",
          "Murder and Nonnegligent Homicide",
          "Offenses Against the Family and Children",
          "Prostitution and Commercialized Vice",
          "Prostitution and Commercialized Vice - Assisting or Promoting Prostitution",
          "Prostitution and Commercialized Vice - Prostitution",
          "Prostitution and Commercialized Vice - Purchasing Prostitution",
          "Rape - Not Specified",
          "Rape - Not Specified (Legacy)",
          "Robbery",
          "Sex Offenses (Except Rape, and Prostitution and Commercialized Vice)",
          "Simple Assault",
          "Stolen Property: Buying, Receiving, Possessing",
          "Vagrancy",
          "Vandalism",
          "Weapons: Carrying, Possessing, Etc."
        ]
      },
      "category": {
        "type": "string",
        "enum": [
          "offense",
          "offender",
          "victim"
        ]
      },
      "hate_crime_categories": {
        "type": "string",
        "enum": [
          "count",
          "bias_incident",
          "quarter",
          "zero_report",
          "location",
          "offense",
          "offender_race",
          "offender_ethnicity",
          "victim_type"
        ]
      },
      "query_types": {
        "type": "string",
        "enum": [
          "byYearRange"
        ]
      },
      "agency_query_types": {
        "type": "string",
        "enum": [
          "byStateAbbr",
          "byDistCode"
        ]
      },
      "participation_query_types": {
        "type": "string",
        "enum": [
          "national",
          "fed",
          "fed-agency",
          "state"
        ]
      },
      "nibrs_estimations_types": {
        "type": "string",
        "enum": [
          "S",
          "T"
        ],
        "x-enum-varnames": [
          "Size",
          "Agency Type"
        ]
      },
      "nibrs_estimations_locations": {
        "type": "string",
        "enum": [
          "C",
          "N"
        ],
        "x-enum-varnames": [
          "City",
          "County"
        ]
      },
      "nibrs_estimations_descriptions": {
        "type": "string",
        "enum": [
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8
        ],
        "x-enum-varnames": [
          "Cities 250,000 or over",
          "Cities from 100,000 thru 249,999",
          "Cities from 10,000 thru 24,999",
          "Cities from 25,000 thru 49,999",
          "Cities from 50,000 thru 99,999",
          "Cities under 10,000",
          "MSA Counties",
          "Non-MSA Counties"
        ]
      },
      "state_id": {
        "type": "string",
        "enum": [
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8,
          9,
          10,
          11,
          12,
          13,
          14,
          15,
          16,
          17,
          18,
          19,
          20,
          21,
          22,
          23,
          24,
          25,
          26,
          27,
          28,
          29,
          30,
          31,
          32,
          33,
          34,
          35,
          36,
          37,
          38,
          39,
          40,
          41,
          42,
          43,
          44,
          45,
          46,
          47,
          48,
          49,
          50,
          51,
          52,
          53,
          54,
          55,
          56,
          57,
          98,
          99
        ],
        "x-enum-varnames": [
          "Alaska",
          "Alabama",
          "Arkansas",
          "American Samoa",
          "Arizona",
          "California",
          "Colorado",
          "Connecticut",
          "Canal Zone",
          "District of Columbia",
          "Delaware",
          "Florida",
          "Georgia",
          "Guam",
          "Hawaii",
          "Iowa",
          "Idaho",
          "Illinois",
          "Indiana",
          "Kansas",
          "Kentucky",
          "Louisiana",
          "Massachusetts",
          "Maryland",
          "Maine",
          "Michigan",
          "Minnesota",
          "Missouri",
          "Mississippi",
          "Montana",
          "Nebraska",
          "North Carolina",
          "North Dakota",
          "New Hampshire",
          "New Jersey",
          "New Mexico",
          "Nevada",
          "New York",
          "Ohio",
          "Oklahoma",
          "Oregon",
          "Pennsylvania",
          "Puerto Rico",
          "Rhode Island",
          "South Carolina",
          "South Dakota",
          "Tennessee",
          "Texas",
          "Utah",
          "U.S. Virgin Islands",
          "Virginia",
          "Vermont",
          "Washington",
          "Wisconsin",
          "West Virginia",
          "Wyoming",
          "Mariana Islands",
          "Federal",
          "Other"
        ]
      },
      "summarized_offenses": {
        "type": "string",
        "enum": [
          "V",
          "ASS",
          "BUR",
          "LAR",
          "MVT",
          "HOM",
          "RPE",
          "ROB",
          "ARS",
          "P"
        ],
        "x-enum-varnames": [
          "Violent Crime",
          "Assault",
          "Burglary",
          "Larceny",
          "Motor Vehicle Theft",
          "Homicide",
          "Rape",
          "Robbery",
          "Arson",
          "Property Crime"
        ]
      },
      "hate_crime_query_options": {
        "type": "string",
        "enum": [
          "all",
          "13",
          "31",
          "14",
          "27",
          "45",
          "12",
          "83",
          "22",
          "52",
          "81",
          "62",
          "41",
          "43",
          "72",
          "16",
          "44",
          "84",
          "32",
          "24",
          "29",
          "82",
          "25",
          "51",
          "23",
          "85",
          "71",
          "11"
        ],
        "x-enum-varnames": [
          "all",
          "Anti-American Indian or Alaska Native",
          "Anti-Arab",
          "Anti-Asian",
          "Anti-Atheism/Agnosticism",
          "Anti-Bisexual",
          "Anti-Black or African American",
          "Anti-Buddhist",
          "Anti-Catholic",
          "Anti-Mental Disability",
          "Anti-Eastern Orthodox (Russian, Greek, Other)",
          "Anti-Female",
          "Anti-Male Homosexual (Gay)",
          "Anti-Lesbian, Gay, Bisexual, or Transgender (Mixed Group)",
          "Anti-Gender Non-Conforming",
          "Anti-Native Hawaiian or Other Pacific Islander",
          "Anti-Heterosexual",
          "Anti-Hindu",
          "Anti-Hispanic or Latino",
          "Anti-Islamic (Muslim)",
          "Anti-Jehovahs Witness",
          "Anti-Jewish",
          "Anti-Lesbian (Female)",
          "Anti-Male",
          "Anti-Mormon",
          "Anti-Multiple Races, Group",
          "Anti-Multiple Religions, Group",
          "Anti-Other Christian",
          "Anti-Other Religion",
          "Anti-Physical Disability",
          "Anti-Protestant",
          "Anti-Sikh",
          "Anti-Transgender",
          "Anti-White"
        ]
      },
      "expanded_property_offenses": {
        "type": "string",
        "enum": [
          "NB",
          "NL",
          "NMVT",
          "NROB"
        ],
        "x-enum-varnames": [
          "Burglary",
          "Larceny",
          "Motor Vehicle Theft",
          "Robbery"
        ]
      },
      "participation-federal_collections": {
        "type": "string",
        "enum": [
          "uof-fed",
          "uof-fed-agency"
        ]
      },
      "participation-federal_queries": {
        "type": "string",
        "enum": [
          "federalByYear",
          "federalAgencyParticipationByOri"
        ]
      },
      "participation-national_queries": {
        "type": "string",
        "enum": [
          "allYears",
          "nationalByYear"
        ]
      },
      "quarter": {
        "type": "string",
        "enum": [
          "4"
        ]
      },
      "regions": {
        "type": "string",
        "enum": [
          "M",
          "N",
          "S",
          "W"
        ],
        "x-enum-varnames": [
          "Midwest",
          "Northeast",
          "South",
          "West"
        ]
      },
      "lookup": {
        "type": "string",
        "enum": [
          "all"
        ]
      },
      "type": {
        "type": "string",
        "enum": [
          "counts",
          "totals"
        ]
      },
      "lesdc_charts": {
        "type": "string",
        "enum": [
          "race",
          "demographics",
          "manner",
          "location",
          "employment",
          "occupation",
          "military",
          "totals",
          "duty",
          "exp",
          "expfollowing",
          "experience",
          "suffered",
          "prior",
          "investigation",
          "wellness"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Use Of Force",
      "description": "The National Use of Force collection and reporting of data includes any use of force that results in: The death of a person due to law enforcement use of force, the serious bodily injury of a person due to law enforcement use of force, or the discharge of a firearm by law enforcement at or in the direction of a person not otherwise resulting in death or serious bodily injury. If agencies experience no qualifying use-of-force incidents within a month, they submit a zero report. Once an agency has provided an incident report meeting the scope of the data collection, or a report indicating no use of force met data reporting criteria, an agency would be considered a participant in the data collection. "
    },
    {
      "name": "LESDC",
      "description": "The Law Enforcement Suicide Data Collection's intent and benefit is to better understand the factors related to law enforcement officer suicides and provides information designed to assist in the development of programs, and potential resources, to help prevent suicides."
    },
    {
      "name": "Arrest",
      "description": "Provides details of the number of arrests, citations, or summons for an offense. View arrest information on the national and regional level along with federal, state, and local agencies."
    },
    {
      "name": "Agency",
      "description": "Provides agencies that have provided data to the UCR Program and are displayed on the CDE."
    },
    {
      "name": "NIBRS",
      "description": "Provides details regarding the National Incident Based Reporting System. Provides offender data for an offense in instances when some aspect about the offender was known, e.g., age, sex, race, ethnicity. In cases involving multiple-offense incidents, each offender is counted more than once."
    },
    {
      "name": "NIBRS Estimations",
      "description": "Provides details regarding the National Incident Based Reporting System. Provides offender data for an offense in instances when some aspect about the offender was known, e.g., age, sex, race, ethnicity. In cases involving multiple-offense incidents, each offender is counted more than once."
    },
    {
      "name": "Hate Crime",
      "description": "Hate Crime data for the nation are derived from National Incident-Based Reporting System (NIBRS) and Summary Reporting System (SRS) reports voluntarily submitted to the FBI."
    },
    {
      "name": "Expanded Property",
      "description": "Provides additional details for summarized UCR data beyond the count of reported crimes. Details include type of weapon used, value of items, etc."
    },
    {
      "name": "Summarized",
      "description": "Provides details regarding reported and converted summary data. Estimated data is available for All Violent Crimes, Homicide, Rape, Robbery, Aggravated Assault, All Property Crimes, Arson, Burglary, Larceny-theft, and Motor Vehicle Theft. Data is available on the national and regional level along with federal, state, and local agencies."
    },
    {
      "name": "Expanded Homicide",
      "description": "Expanded Homicide Data for the nation are derived from Summary Reporting System (SRS) and National Incident-Based Reporting System (NIBRS) reports voluntarily submitted to the FBI."
    },
    {
      "name": "Law Enforcement Employees",
      "description": "Law Enforcement Employees data for the nation are derived from Summary Reporting System (SRS) and National Incident-Based Reporting System (NIBRS) reports voluntarily submitted to the FBI."
    }
  ],
  "paths": {
    "/agency/{query}/{value}": {
      "get": {
        "tags": [
          "Agency"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/agency_query_types"
            }
          },
          {
            "name": "value",
            "in": "path",
            "description": "The state abbreviation or district code. ex.'VA'",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/arrest/agency/{ori}/{offense}": {
      "get": {
        "tags": [
          "Arrest"
        ],
        "parameters": [
          {
            "name": "type",
            "required": true,
            "in": "query",
            "description": "Overall rates/counts or total numbers",
            "schema": {
              "$ref": "#/components/schemas/type"
            }
          },
          {
            "name": "ori",
            "required": true,
            "in": "path",
            "description": "Unique agency identifier. Found under Agency /agency/{query}/{value} for each state. ex 'VA0010100'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "required": true,
            "description": "Starting year range to be used with 'to'. Date Format mm-yyyy",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "offense",
            "in": "path",
            "required": true,
            "description": "Offense Code",
            "schema": {
              "$ref": "#/components/schemas/arrest_offense"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format mm-yyyy",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/arrest/national/{offense}": {
      "get": {
        "tags": [
          "Arrest"
        ],
        "parameters": [
          {
            "name": "type",
            "required": true,
            "in": "query",
            "description": "Overall rates/counts or total numbers",
            "schema": {
              "$ref": "#/components/schemas/type"
            }
          },
          {
            "name": "from",
            "required": true,
            "description": "Starting year range to be used with 'to'. Date Format mm-yyyy",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format mm-yyyy",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "offense",
            "in": "path",
            "required": true,
            "description": "Offense code",
            "schema": {
              "$ref": "#/components/schemas/arrest_offense"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/arrest/state/{state}/{offense}": {
      "get": {
        "tags": [
          "Arrest"
        ],
        "parameters": [
          {
            "name": "type",
            "required": true,
            "in": "query",
            "description": "Overall rates/counts or total numbers",
            "schema": {
              "$ref": "#/components/schemas/type"
            }
          },
          {
            "name": "state",
            "in": "path",
            "description": "State abbreviation",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/states"
            }
          },
          {
            "name": "from",
            "required": true,
            "description": "Starting year range to be used with 'to'. Date Format mm-yyyy",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format mm-yyyy",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "offense",
            "in": "path",
            "required": true,
            "description": "Offense Code",
            "schema": {
              "$ref": "#/components/schemas/arrest_offense"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/shr/agency/{ori}": {
      "get": {
        "tags": [
          "Expanded Homicide"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "required": true,
            "in": "query",
            "description": "Overall rates/counts or total numbers",
            "schema": {
              "$ref": "#/components/schemas/type"
            }
          },
          {
            "name": "from",
            "required": true,
            "description": "Starting year range to be used with 'to'. Date Format mm-yyyy",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format mm-yyyy",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "ori",
            "required": true,
            "in": "path",
            "description": "Unique agency identifier. Found under Agency /agency/{query}/{value} for each state. ex. 'VA0010100'",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/components/schemas/Empty"
            }
          },
          "400": {
            "description": "400 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/shr/national": {
      "get": {
        "tags": [
          "Expanded Homicide"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "required": true,
            "in": "query",
            "description": "Overall rates/counts or total numbers",
            "schema": {
              "$ref": "#/components/schemas/type"
            }
          },
          {
            "name": "from",
            "required": true,
            "description": "Starting year range to be used with 'to'. Date Format mm-yyyy",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format mm-yyyy",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/components/schemas/Empty"
            }
          },
          "400": {
            "description": "400 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/shr/state/{state}": {
      "get": {
        "tags": [
          "Expanded Homicide"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "required": true,
            "in": "query",
            "description": "Overall rates/counts or total numbers",
            "schema": {
              "$ref": "#/components/schemas/type"
            }
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/states"
            }
          },
          {
            "name": "from",
            "required": true,
            "description": "Starting year range to be used with 'to'. Date Format mm-yyyy",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format mm-yyyy",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/components/schemas/Empty"
            }
          },
          "400": {
            "description": "400 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/supplemental/agency/{ori}/{offense}": {
      "get": {
        "tags": [
          "Expanded Property"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "required": true,
            "in": "query",
            "description": "Overall rates/counts or total numbers",
            "schema": {
              "$ref": "#/components/schemas/type"
            }
          },
          {
            "name": "from",
            "required": true,
            "description": "Starting year range to be used with 'to'. Date Format mm-yyyy",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format mm-yyyy",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "offense",
            "in": "path",
            "required": true,
            "description": "Offense Code",
            "schema": {
              "$ref": "#/components/schemas/expanded_property_offenses"
            }
          },
          {
            "name": "ori",
            "required": true,
            "in": "path",
            "description": "Unique agency identifier. Found under Agency /agency/{query}/{value} for each state. ex. 'VA0010100'",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/components/schemas/Empty"
            }
          },
          "400": {
            "description": "400 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/supplemental/national/{offense}": {
      "get": {
        "tags": [
          "Expanded Property"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "required": true,
            "in": "query",
            "description": "Overall rates/counts or total numbers",
            "schema": {
              "$ref": "#/components/schemas/type"
            }
          },
          {
            "name": "from",
            "required": true,
            "description": "Starting year range to be used with 'to'. Date Format mm-yyyy",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format mm-yyyy",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "offense",
            "in": "path",
            "required": true,
            "description": "Offense Code",
            "schema": {
              "$ref": "#/components/schemas/expanded_property_offenses"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/components/schemas/Empty"
            }
          },
          "400": {
            "description": "400 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/supplemental/state/{state}/{offense}": {
      "get": {
        "tags": [
          "Expanded Property"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "required": true,
            "in": "query",
            "description": "Overall rates/counts or total numbers",
            "schema": {
              "$ref": "#/components/schemas/type"
            }
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/states"
            }
          },
          {
            "name": "from",
            "required": true,
            "description": "Starting year range to be used with 'to'. Date Format mm-yyyy",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format mm-yyyy",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "offense",
            "in": "path",
            "required": true,
            "description": "Offense Code",
            "schema": {
              "$ref": "#/components/schemas/expanded_property_offenses"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/components/schemas/Empty"
            }
          },
          "400": {
            "description": "400 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/hate-crime/agency/{ori}": {
      "get": {
        "tags": [
          "Hate Crime"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "from",
            "required": true,
            "description": "Starting year range to be used with 'to'. Date Format mm-yyyy",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format mm-yyyy",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "ori",
            "required": true,
            "in": "path",
            "description": "Unique agency identifier. Found under Agency /agency/{query}/{value} for each state. ex. 'VA0010100'",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "400 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/hate-crime/agency/{ori}/{bias}": {
      "get": {
        "tags": [
          "Hate Crime"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bias",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/hate_crime_query_options"
            }
          },
          {
            "name": "from",
            "required": true,
            "description": "Starting year range to be used with 'to'. Date Format mm-yyyy",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format mm-yyyy",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "ori",
            "required": true,
            "in": "path",
            "description": "Unique agency identifier. Found under Agency /agency/{query}/{value} for each state. ex. 'VA0010100'",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "400 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/hate-crime/national": {
      "get": {
        "tags": [
          "Hate Crime"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "required": true,
            "in": "query",
            "description": "Overall rates/counts or total numbers",
            "schema": {
              "$ref": "#/components/schemas/type"
            }
          },
          {
            "name": "from",
            "required": true,
            "in": "query",
            "description": "Starting year range to be used with 'to'. Date Format mm-yyyy",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format mm-yyyy",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "400 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/hate-crime/national/{bias}": {
      "get": {
        "tags": [
          "Hate Crime"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bias",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/hate_crime_query_options"
            }
          },
          {
            "name": "from",
            "required": true,
            "in": "query",
            "description": "Starting year range to be used with 'to'. Date Format mm-yyyy",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format mm-yyyy",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "400 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/hate-crime/state/{state}": {
      "get": {
        "tags": [
          "Hate Crime"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "required": true,
            "in": "query",
            "description": "Overall rates/counts or total numbers",
            "schema": {
              "$ref": "#/components/schemas/type"
            }
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "description": "State abbreviation",
            "schema": {
              "$ref": "#/components/schemas/states"
            }
          },
          {
            "name": "from",
            "description": "Starting year range to be used with 'to'. Date Format mm-yyyy",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format mm-yyyy",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "400 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/hate-crime/state/{state}/{bias}": {
      "get": {
        "tags": [
          "Hate Crime"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bias",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/hate_crime_query_options"
            }
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "description": "State abbreviation",
            "schema": {
              "$ref": "#/components/schemas/states"
            }
          },
          {
            "name": "from",
            "required": true,
            "in": "query",
            "description": "Starting year range to be used with 'to'. Date Format mm-yyyy",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format mm-yyyy",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "400 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/pe": {
      "get": {
        "tags": [
          "Law Enforcement Employees"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "from",
            "required": true,
            "description": "Starting year range to be used with 'to'. Date Format yyyy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format yyyy",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/pe/{state}": {
      "get": {
        "tags": [
          "Law Enforcement Employees"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "from",
            "required": true,
            "description": "Starting year range to be used with 'to'. Date Format yyyy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format yyyy",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "description": "State abbreviation",
            "schema": {
              "$ref": "#/components/schemas/states"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/pe/{state}/{ori}": {
      "get": {
        "tags": [
          "Law Enforcement Employees"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "from",
            "required": true,
            "description": "Starting year range to be used with 'to'. Date Format yyyy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format yyyy",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "description": "State abbreviation",
            "schema": {
              "$ref": "#/components/schemas/states"
            }
          },
          {
            "name": "ori",
            "required": true,
            "in": "path",
            "description": "Unique agency identifier. Found under Agency /agency/{query}/{value} for each state. ex. 'VA0010100'",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/lesdc": {
      "get": {
        "tags": [
          "LESDC"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "chartType",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lesdc_charts"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "400 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/nibrs/agency/{ori}/{offense}": {
      "get": {
        "tags": [
          "NIBRS"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "required": true,
            "in": "query",
            "description": "Overall rates/counts or total numbers",
            "schema": {
              "$ref": "#/components/schemas/type"
            }
          },
          {
            "name": "from",
            "required": true,
            "description": "Starting year range to be used with 'to'. Date Format mm-yyyy",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format mm-yyyy",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "offense",
            "in": "path",
            "required": true,
            "description": "Offense Code",
            "schema": {
              "$ref": "#/components/schemas/nibrs_offenses"
            }
          },
          {
            "name": "ori",
            "required": true,
            "in": "path",
            "description": "Unique agency identifier. Found under Agency /agency/{query}/{value} for each state. ex. 'VA0010100'",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "400 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/nibrs/national/{offense}": {
      "get": {
        "tags": [
          "NIBRS"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "required": true,
            "in": "query",
            "description": "Overall rates/counts or total numbers",
            "schema": {
              "$ref": "#/components/schemas/type"
            }
          },
          {
            "name": "from",
            "required": true,
            "description": "Starting year range to be used with 'to'. Date Format mm-yyyy",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format mm-yyyy",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "offense",
            "in": "path",
            "required": true,
            "description": "Offense Code",
            "schema": {
              "$ref": "#/components/schemas/nibrs_offenses"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "400 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/nibrs/state/{state}/{offense}": {
      "get": {
        "tags": [
          "NIBRS"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "required": true,
            "in": "query",
            "description": "Overall rates/counts or total numbers",
            "schema": {
              "$ref": "#/components/schemas/type"
            }
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/states"
            }
          },
          {
            "name": "from",
            "required": true,
            "description": "Starting year range to be used with 'to'. Date Format mm-yyyy",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format mm-yyyy",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "offense",
            "in": "path",
            "required": true,
            "description": "Offense Code",
            "schema": {
              "$ref": "#/components/schemas/nibrs_offenses"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "400 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/nibrs-estimation/lookup/{lookup}": {
      "get": {
        "tags": [
          "NIBRS Estimations"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "lookup",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lookup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/nibrs-estimation/national/agency-type/{type}/{location}/{offense}": {
      "get": {
        "tags": [
          "NIBRS Estimations"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/nibrs_estimations_types"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}$"
            }
          },
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/components/schemas/nibrs_estimations_locations"
            }
          },
          {
            "name": "offense",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/nibrs_estimations_offenses"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/nibrs-estimation/national/size/{type}/{desc}/{offense}": {
      "get": {
        "tags": [
          "NIBRS Estimations"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/nibrs_estimations_types"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}$"
            }
          },
          {
            "name": "desc",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/components/schemas/nibrs_estimations_descriptions"
            }
          },
          {
            "name": "offense",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/nibrs_estimations_offenses"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/nibrs-estimation/national/{offense}": {
      "get": {
        "tags": [
          "NIBRS Estimations"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}$"
            }
          },
          {
            "name": "offense",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/nibrs_estimations_offenses"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/nibrs-estimation/region/agency-type/{region}/{type}/{location}/{offense}": {
      "get": {
        "tags": [
          "NIBRS Estimations"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/nibrs_estimations_types"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}$"
            }
          },
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/components/schemas/nibrs_estimations_locations"
            }
          },
          {
            "name": "region",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/components/schemas/regions"
            }
          },
          {
            "name": "offense",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/nibrs_estimations_offenses"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/nibrs-estimation/region/size/{region}/{type}/{desc}/{offense}": {
      "get": {
        "tags": [
          "NIBRS Estimations"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/components/schemas/nibrs_estimations_types"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}$"
            }
          },
          {
            "name": "desc",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/components/schemas/nibrs_estimations_descriptions"
            }
          },
          {
            "name": "region",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/components/schemas/regions"
            }
          },
          {
            "name": "offense",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/nibrs_estimations_offenses"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/nibrs-estimation/region/{region}/{offense}": {
      "get": {
        "tags": [
          "NIBRS Estimations"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}$"
            }
          },
          {
            "name": "region",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/regions"
            }
          },
          {
            "name": "offense",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/nibrs_estimations_offenses"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/nibrs-estimation/state/{state}/{offense}": {
      "get": {
        "tags": [
          "NIBRS Estimations"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}$"
            }
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/state_id"
            }
          },
          {
            "name": "offense",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/nibrs_estimations_offenses"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/summarized/agency/{ori}/{offense}": {
      "get": {
        "tags": [
          "Summarized"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "from",
            "description": "Starting year range to be used with 'to'. Date Format mm-yyyy",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "offense",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/summarized_offenses"
            }
          },
          {
            "name": "ori",
            "in": "path",
            "required": true,
            "description": "Unique agency identifier. Found under Agency /agency/{query}/{value} for each state. ex. 'VA0010100'",
            "type": "string"
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format mm-yyyy",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/components/schemas/Empty"
            }
          },
          "400": {
            "description": "400 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/summarized/national/{offense}": {
      "get": {
        "tags": [
          "Summarized"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "from",
            "description": "Starting year range to be used with 'to'. Date Format mm-yyyy",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "offense",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/summarized_offenses"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format mm-yyyy",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/components/schemas/Empty"
            }
          },
          "400": {
            "description": "400 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/summarized/state/{state}/{offense}": {
      "get": {
        "tags": [
          "Summarized"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "state",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/states"
            }
          },
          {
            "name": "from",
            "description": "Starting year range to be used with 'to'. Date Format mm-yyyy",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          },
          {
            "name": "offense",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/summarized_offenses"
            }
          },
          {
            "name": "to",
            "description": "Ending year range to be used with 'from'. Date Format mm-yyyy",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])-[0-9]{4}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/components/schemas/Empty"
            }
          }
        }
      }
    },
    "/participation/national/{collection}/{query}": {
      "get": {
        "tags": [
          "Use Of Force"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/participation-federal_collections"
            }
          },
          {
            "name": "query",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/participation-federal_queries"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}$"
            }
          },
          {
            "name": "quarter",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/quarter"
            }
          },
          {
            "name": "ori",
            "description": "Found on National Use-of-Force Data page under Agency Select for Location 'All Federal'",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/participation/national/uof/{query}": {
      "get": {
        "tags": [
          "Use Of Force"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/participation-national_queries"
            }
          },
          {
            "name": "year",
            "description": "Add if nationalByYear selected above",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}$"
            }
          },
          {
            "name": "quarter",
            "description": "Add if nationalByYear selected above",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/quarter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/participation/state/{state}/{collection}/{query}": {
      "get": {
        "tags": [
          "Use Of Force"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "uof"
              ]
            }
          },
          {
            "name": "query",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "states"
              ]
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}$"
            }
          },
          {
            "name": "quarter",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/quarter"
            }
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/states"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/uof/questions/{grp}/{year}/{quarter}": {
      "get": {
        "tags": [
          "Use Of Force"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "grp",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "A"
              ]
            }
          },
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}$"
            }
          },
          {
            "name": "quarter",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/quarter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/components/schemas/Empty"
            }
          }
        }
      }
    },
    "/uof/reports/{grp}/{spec}": {
      "get": {
        "tags": [
          "Use Of Force"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "grp",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "A",
                "F",
                "D",
                "S"
              ],
              "x-enum-varnames": [
                "National",
                "Federal",
                "Federal Agency",
                "State"
              ]
            }
          },
          {
            "name": "spec",
            "description": "Enter ORI for Federal agency, enter State abbreviation for State",
            "in": "path",
            "required": false,
            "type": "string"
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}$"
            }
          },
          {
            "name": "quarter",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/quarter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/components/schemas/Empty"
            }
          }
        }
      }
    }
  },
  "x-amazon-apigateway-documentation": {
    "version": "0.0.1",
    "createdDate": "2022-05-18T13:35:31Z",
    "documentationParts": [
      {
        "location": {
          "type": "API"
        },
        "properties": {
          "info": {
            "description": "API used for requests"
          }
        }
      },
      {
        "location": {
          "type": "METHOD",
          "path": "/agency/{query}/{value}",
          "method": "GET"
        },
        "properties": {
          "description": "test"
        }
      },
      {
        "location": {
          "type": "MODEL",
          "name": "Empty"
        },
        "properties": {
          "title": "Empty Schema"
        }
      },
      {
        "location": {
          "type": "RESOURCE",
          "path": "/agency/{query}/{value}"
        },
        "properties": {
          "description": "test"
        }
      },
      {
        "location": {
          "type": "RESOURCE",
          "path": "/agency/{query}"
        },
        "properties": {
          "description": "test"
        }
      },
      {
        "location": {
          "type": "RESOURCE",
          "path": "/agency"
        },
        "properties": {
          "description": "test"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "method": "OPTIONS",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/agency/{query}/{value}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/arrest/agency/{ori}/{offense}/{category}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/arrest/agency/{ori}/{offense}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/arrest/national/budquery/{offense}/{category}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/arrest/national/{offense}/{category}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/arrest/national/{offense}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/arrest/state/{state}/{offense}/{category}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/arrest/state/{state}/{offense}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/estimate/state/{state}/{offense}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/estimate/national/{offense}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/hate-crime/agency/{ori}/{category}/{query}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/hate-crime/agency/{ori}/{category}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/hate-crime/national/federal/{sai}/{category}/{query}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/hate-crime/national/federal/{sai}/{category}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/hate-crime/national/federal/{sai}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/hate-crime/national/{category}/{query}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/hate-crime/national/{category}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/hate-crime/state/judicial/{jdc}/{category}/{query}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/hate-crime/state/judicial/{jdc}/{category}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/hate-crime/state/judicial/{jdc}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/hate-crime/state/{state}/{category}/{query}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/hate-crime/state/{state}/{category}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/nibrs/agency/{ori}/{offense}/{category}/{type}/{query}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/nibrs/agency/{ori}/{offense}/{category}/{type}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/nibrs/national/{offense}/all",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/nibrs/national/{offense}/{category}/{type}/{query}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/nibrs/national/{offense}/{category}/{type}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/nibrs/national/{offense}/{category}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/nibrs/state/{state}/{offense}/all",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/nibrs/state/{state}/{offense}/{category}/{type}/{query}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
          "path": "/nibrs/state/{state}/{offense}/{category}/{type}",
          "method": "GET",
          "statusCode": "200"
        },
        "properties": {
          "description": "200 response"
        }
      },
      {
        "location": {
          "type": "RESPONSE",
[...]
